h1 {
  font-size: 5.625rem;
  margin: auto auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;

}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.top-container {
  background-color: #D6E5FA;
  position: relative;
  padding-top: 150px;
  display: inline-block;
  width: 100%;
}

.middle-container {
  margin-top: 0;
  padding-top: 100px;
  background-color: #D9D7F1;
  display: inline-block;
  width: 100%;
  padding-bottom: 50px;
  padding-top: 50px;
}

.bottom-container {
  background-color: #BAABDA;
  display: inline-block;
  width: 100%;
  padding-top: 30px;

}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.calum {
  height: 300px;
  width: 300px
}

a {
  color: #11999E;
}

.computer-icon {
  width: 25%;
  float: left;
  padding-right: 30px;
}

.history {
  width: 25%;
  float: right;
  padding-left: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  line-height: 2;
  text-align: left;
}

.mountain {
  position: relative;
  bottom: -45px;
}

hr {
  color: #808080;
  width: 10%;
  border-style: none;
  border-top-style: dotted;
  height: 50px;
  border-width: 10px;



}

.introduction { padding-bottom: 75px;

}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #BAABDA;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #808080;
  text-decoration: none;
}

.contactme { padding-bottom: 30px;

}

.getintouch { padding-bottom: 35px;


}

.footer-link { color: #FFFFFF;
  font-style: bold;
  padding: 15px;
text-decoration: none;
font-family: 'Montserrat', sans-serif;
}

a.hover { color: #808080;


}

.copyright { color: #FFFFFF;
  font-size: 12px;


}
